<div class="content-wrapper-services">
    <div class="content">
        <h2>About Us</h2>
        <div class="pure-g">
          <div class="pure-u-1-2"><h2>Julie Rossalini</h2> 
            <p>Lorem ipsum dolor amet hella celiac meh, PBR&B 
              trust fund meggings XOXO intelligentsia paleo 
              heirloom scenester tbh DIY. Poutine poke chambray 
              pickled. Quinoa jianbing gochujang trust fund microdosing 
              keytar marfa blue bottle 8-bit VHS meh craft beer. 
              Next level shabby chic VHS skateboard tofu copper mug 
              migas neutra pitchfork letterpress DIY butcher.</p>
          </div>
          <div class="pure-u-1-2"><h2>Erik Hahn</h2>
            <p>Subway tile photo booth scenester, prism lyft gentrify 
              bitters vegan salvia actually intelligentsia. Franzen fixie 
              fingerstache YOLO affogato mumblecore austin narwhal hammock. 
              Chartreuse helvetica vegan, celiac distillery swag plaid cold-pressed. 
              Lumbersexual pok pok yuccie waistcoat. Beard franzen pinterest quinoa plaid hammock.</p>
          </div>
        </div>
    </div>
  </div>
  
  