<div class="splash-container">
  <div class="splash-contact">
    <div class="contact-form">
        <h4>Contact Us</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
        </p>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked">
                  <fieldset>
                      <label for="name">Name</label>
                      <input id="name" type="text">
                      <label for="email">Email</label>
                      <input id="email" type="email">
                      <label for="message">Message</label>
                      <input id="message" type="textarea">
                      <button type="submit" class="pure-button">Send</button>
                  </fieldset>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>



